<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Guessing Number Game</title>
    <link rel="stylesheet" type="text/css"
    href="css/bootstrap.min.css">
  </head>
  <body>

    <div class="container">
        <div class="jumbotron">
          <h1>Guessing Number Game</h1>
          <form action="/accion1_post" method="post">

            <h2>Cual es tu nombre?</h2>
            <input type="text" name="nombre"
            {% if nombre %}
              value= "{{nombre}}"
            {% endif %}
            placeholder="Name">
            <input type="submit" value="Enviar">

          </form>
        </div>
    </div>

  </body>
</html>
