<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Guessing Number Game</title>
    <link rel="stylesheet" type="text/css"
    href="css/bootstrap.min.css">
  </head>
  <body>

    <div class="container">
        <div class="jumbotron">
          <h1>Guessing Number Game</h1>
          <form action="/accion1_get" method="get">
            <h3>hola {{nombre}} !!</h3>

            <label for="mensaje">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
              dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.</label> <br>
            <input type="submit" value="Jugar">

          </form>
        </div>
    </div>

  </body>
</html>
