html{
	width:100%;
	height:100%;
}
body{
  background: #eeeeee;
  width: 100%;
  height: 100%;

}

#footer{
	background-image: url(http://deals.vroomvroomvroom.com.au/images/bg-footer.png);
	height: 5%;
}

#imagen-banner img{
 position:absolute;
 float: left;
 width: 170px;
 max-width: 50%;
 margin-bottom: auto;
}

#navigation{

  border-style: solid;
  margin-top: auto;
  border-style: solid;
  margin-bottom: auto;
}


#cuerpo{
  background: #cf2a27;
  color: black;
  height: auto;
  padding-bottom: 30px;
}


#Cloud{
  background-image: url(/img/cloud.png);
  background-position: center center;
  background-repeat: no-repeat;

}
