body{
  margin: 0 auto;
}
.social-footer a{
  color: #555555;

}
.social-footer a:hover{
   text-decoration:none;
   color: black;

}
#lineaazul{
  background-color: 489DD2;
  height: 170px;
  width: 1315px;
  margin: 0 auto;
}

#enterseparar{
  background-color: 489DD2;
  height: 10px;
  width: 100%;
}

.ul-no-style{
  list-style-type: none;
}
#panelcuerpo{
  color: black;
  margin: 0 auto;
}

#adminpanel{
  background-color: blue;
  height: 50px;
  width: 40%;
}
