.separacion-30 {
	padding-bottom: 30px;
}
.separacion-100 {
	padding-bottom: 100px;
}
.separacion-200 {
	padding-bottom: 200px;
}

body{
		/*background-image: url("http://cdn.playbuzz.com/cdn/2a75ac08-64e1-4f58-864c-0c5c3268dc74/2793058f-c56d-4694-8091-c286ca3dd055.png");*/
		background: rgba(255,255,255,1);
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 21%, rgba(245,245,245,1) 47%, rgba(237,237,237,1) 97%, rgba(237,237,237,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(21%, rgba(251,251,251,1)), color-stop(47%, rgba(245,245,245,1)), color-stop(97%, rgba(237,237,237,1)), color-stop(100%, rgba(237,237,237,1)));
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 21%, rgba(245,245,245,1) 47%, rgba(237,237,237,1) 97%, rgba(237,237,237,1) 100%);
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 21%, rgba(245,245,245,1) 47%, rgba(237,237,237,1) 97%, rgba(237,237,237,1) 100%);
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 21%, rgba(245,245,245,1) 47%, rgba(237,237,237,1) 97%, rgba(237,237,237,1) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 21%, rgba(245,245,245,1) 47%, rgba(237,237,237,1) 97%, rgba(237,237,237,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}


#lateral{
    width:400px;
    float:left;
}
#otrolado{
		width:500px;
   	float: right;
	padding-right: 20px;


}
#principal{
	float: left;
    width: 300px;
}
.margin-Left{
	margin-left: 12%;
}
.text-blu{
	font-size: 16px;
	font-weight: bold;
	text-align: justify;
	color:#000066
}
