#lineaazul{
  background-color: 489DD2;
  height: 170px;
  width: 1335px;
  margin: 0 auto;
}

#enterseparar{
  background-color: 489DD2;
  height: 10px;
  width: 100%;
}

#cuadrogrissolido{
  background-color: gray;
  border-color: gray;
  border-style: solid;
  color: black;
  height: 70px;
  margin: 0 auto;
  width: 80%;
}

#cuadrogris{
  background-color: white;
  border-color: gray;
  border-style: solid;
  height: 400px;
  margin: 0 auto;
  width: 80%;
}

/*Pagina admin*/
#divazul{
  background-color: 7DC1EB;
  border-style: solid;
  color: white;
  height: 40px;
  margin: 0 auto;
  width: 40%;
}
#diveventos{
  background-color: 29919A;
  height: 40px;
  width: 30px;
}

/*css de bootsnip Inbox*/
body{ margin-top:50px;}
.nav-tabs .glyphicon:not(.no-margin) { margin-right:10px; }
.tab-pane .list-group-item:first-child {border-top-right-radius: 0px;border-top-left-radius: 0px;}
.tab-pane .list-group-item:last-child {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.tab-pane .list-group .checkbox { display: inline-block;margin: 0px; }
.tab-pane .list-group input[type="checkbox"]{ margin-top: 2px; }
.tab-pane .list-group .glyphicon { margin-right:5px; }
.tab-pane .list-group .glyphicon:hover { color:#FFBC00; }
a.list-group-item.read { color: #222;background-color: #F3F3F3; }
hr { margin-top: 5px;margin-bottom: 10px; }
.nav-pills>li>a {padding: 5px 10px;}

.ad { padding: 5px;background: #F5F5F5;color: #222;font-size: 80%;border: 1px solid #E5E5E5; }
.ad a.title {color: #15C;text-decoration: none;font-weight: bold;font-size: 110%;}
.ad a.url {color: #093;text-decoration: none;}
