<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Extendiendo las Aplicaciones de App Engine con Jinja2</title>
    <link rel="stylesheet" type="text/css"
    href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
  </head>
  <body>

    <div class="container">
        <div class="jumbotron">
          <h1>Jinja2 y Google App Engine</h1>
          {%if mensaje %}
          <p class="aler alert-danger"><b>{{mensaje}}</b></p>
          {% endif %}
          <p>{{diccionario.nombre}}</p>
          <p>{{diccionario.apellido}}</p>
        </div>
    </div>

  </body>
</html>
