<!DOCTYPE html>
<html lang="es">
 <head>
   {% block head %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="img/favicon.ico">

      <title>
          {% block title %} Servicios en la Nube {% endblock %}
      </title>
      <!-- Bootstrap core CSS -->
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link href="css/jumbotron.css" rel="stylesheet">
      <link href="css/estilos.css" rel="stylesheet">
      <link rel="stylesheet" href="css/featherlight.css">

      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
   {% endblock %}
 </head>
 <body>
     <div id="encabezado" >
          <div id="imagen-banner">
              <img src="/img/LogoTec2.png" alt="Tec de Colima" class="thumbanial">
          </div>
          <div id="texto-banner"class="text-center">
            <h1 ><strong>Instituto Tecnológico de Colima</h1>
            <h2><strong>Inginería en Sistemas Computacionales</h2>
            <h2><strong>Servicios en la Nube</h2>
          </div>
     </div>
     {% block navigation %}
         {% set navigation_bar = [
           ('/', 'index', 'Home'),
           ('/unidadI', 'u1', 'Unidad I'),
           ('/unidadII', 'u2', 'Unidad II'),
           ('/unidadIII', 'u3', 'Unidad III'),
           ('/unidadIV', 'u4', 'Unidad IV'),
           ('/unidadV', 'u5', 'Unidad V')
           ] -%}
         {% set active_page = active_page|default('index') -%}

      <nav id="navigation" class="navbar navbar-inverse ">
          <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.itcolima.edu.mx/" target="_blank">itec</a>
                </div>

          <!-- Collect the nav links, forms, and other content for toggling -->

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                      <ul class="nav navbar-nav">
                    				{%for href, id, caption in navigation_bar%}
                    					<li{% if id == active_page %} class="active"{% endif %}>
                              <a href="{{href|e}}">{{caption|e}}</a>
                            </li>
                    				{%endfor%}
                      </ul>

                      <ul class="nav navbar-nav navbar-right">
                           <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Alejandro Pérez Toga <span class="caret"></span></a>
                             <ul class="dropdown-menu">
                               <li><a href="/profile">Perfil</a></li>
                               <li role="separator" class="divider"></li>
                               <li><a href="#">Ayudaa!</a></li>
                             </ul>
                           </li>
                     </ul>
                </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
      </nav>
      {% endblock %}
     <div id="cuerpo">
       {% block cuerpo %}
            Replace this!!!
       {% endblock %}
     </div>
     <br>
     <br>
     <hr>
      <footer>
        <p> 11460294@itcolima.edu.mx 2015</p>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/featherlight.js">
        </script>
      </footer>


 </body>
 </html>
