{% extends "_base.html" %}

{% block cuerpo %}
    <div id="Cloud" class="jumbotron">
      <div  class="container">
         <h1>Cloud Computing</h1>
         <p>
           La computación en la nube, conocida también como servicios en la nube, informática en la nube, nube de cómputo o nube de conceptos
           (del inglés cloud computing), es un paradigma que permite ofrecer servicios de computación a través de una red, que usualmente es Internet.
         </p>
         <p><a class="btn btn-primary btn-lg" href="https://es.wikipedia.org/wiki/Computaci%C3%B3n_en_la_nube" role="button">Ver más...</a></p>
        </div>
     </div>
     <div class="container">
     <!-- Example row of columns -->
     <div class="row">
       <div class="col-md-4">
         <h2>Debitoor</h2>
         <p>La computación en nube es una tecnología nueva que busca tener todos nuestros archivos e información en Internet y sin depender de poseer la capacidad suficiente para almacenar información. </p>
         <p><a class="btn btn-default" href="https://debitoor.es/glosario/definicion-cloud-computing" role="button">Ver más &raquo;</a></p>
       </div>
       <div class="col-md-4">
         <h2>salesforce.com</h2>
         <p>Gracias a Cloud Computing se olvidará de esas complicaciones porque no tendrá que gestionar el hardware ni el software: eso es responsabilidad de un proveedor experimentado como salesforce.com </p>
         <p><a class="btn btn-default" href="#" role="button">Ver más &raquo;</a></p>
      </div>
       <div class="col-md-4">
         <h2>ticbeat</h2>
         <p>Hace referencia a una concepción tecnológica y a un modelo de negocio que reúne ideas tan diversas como el almacenamiento de información, las comunicaciones entre ordenadores, la provisión de servicios o las metodologías de desarrollo de aplicaciones, todo ello bajo el mismo concepto: todo ocurre en la nube.</p>
         <p><a class="btn btn-default" href="http://www.ticbeat.com/cloud/que-es-cloud-computing-definicion-concepto-para-neofitos/" role="button">Ver más &raquo;</a></p>
       </div>
     </div>
   </div> <!-- /container -->

{% endblock %}
