{% extends "_base.html" %}


{% set navigation_bar = [
  ('/login', 'login', 'Inicia Sesión'),
  ] -%}
	
{% block opciones %}
    {%for href, id, caption in navigation_bar%}
      <li{% if id == active_page %} class="active"{% endif %}>
      <a href="{{href|e}}" data-title="<img src='img/team-img-2.png' width='10%'alt='imagen'style=' display: block;
    margin-left: auto;
    margin-right: auto; '/>" id="login">{{caption|e}}</a></li>
    {%endfor%}
{% endblock %}


{% set active_page = "login" %}


{% block bodycontent %}
<br>
<br>
<br>
<br>
<br>
	<p>
			{{error}}
	</p>
{% endblock %}
