{% extends "_base.html" %}

{% set active_page = "perfil" %}

{% block title %}
  Perfil
{% endblock %}
{% block navigation %}
	{% if user.user %}
    {% set navigation_bar = [
      ('/', 'index', 'Home'),
      ('/sitios', 'sitios', 'Sitios'),
      ('/juego', 'juego', 'Juego'),
      ] -%}

		{% set active_page = active_page|default('index') -%}
<style>
  .white {
    color: white;
  }
</style>
	<nav id="navigation" class="navbar navbar-inverse ">
			<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
						</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

									<ul class="nav navbar-nav">
												{%for href, id, caption in navigation_bar%}
													<li{% if id == active_page %} class="active"{% endif %}>
													<a href="{{href|e}}">{{caption|e}}</a>
												</li>
												{%endfor%}
									</ul>

									<ul class="nav navbar-nav navbar-right">
											 <li class="dropdown">
												 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{usuario.username}} <span class="caret"></span></a>
												 <ul class="dropdown-menu">
													 <li><a href="/perfil">Perfil&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
													 <li><a href="/logout">Logout  <span class="glyphicon glyphicon-log-out" aria-hidden="true"> </span></a></li>

												 </ul>
											 </li>
								 </ul>
						</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
	</nav>
	{% else %}
		{{ super() }}

	{% endif %}
{% endblock %}



{% block bodycontent %}

<div class="container">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{usuario.username}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="img/{{usuario.gender}}_user_icon.png" class="img-circle img-responsive"> </div>

                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Fullname:</td>
                        <td>{{usuario.fullname}}</td>
                      </tr>
                        <tr>
                        <td>Gender</td>
                        <td>{{usuario.gender}}</td>
                      </tr>
                        <tr>
                        <td>Home Address</td>
                        <td>{{usuario.Address}}</td>
                      </tr>
                      <hr>
                      <tr>
                      <td>Wins</td>
                      <td>{{usuario.wins}}</td>
                      </tr>
                      <tr>
                      <td>Losses</td>
                      <td>{{usuario.losses}}</td>
                      </tr>
                    </tbody>
                  </table>


                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>

          </div>
        </div>
      </div>
    </div>
{% endblock %}
