{% extends "_base.html" %}
{% set active_page = "index" %}
		{% block navigation %}
			{% if user.user %}
				{% set navigation_bar = [
					('/', 'index', 'Index'),
					('/sitios', 'sitios', 'Sitios'),
					('/topicos', 'topicos', 'Topicos'),
					('/logout', 'logout', 'Logout')
					] -%}
				{% set active_page = active_page|default('index') -%}
				<ul id="navigation">
					{%for href, id, caption in navigation_bar%}
						<li{% if id == active_page %} class="active"{% endif %}>
						<a href="{{href|e}}">{{caption|e}}</a></li>
					{%endfor%}
				</ul>

			{% else %}
				{{ super() }}
			
			{% endif %}
		{% endblock %}
{% block bodycontent %}
    <h2>Acerca del Sitio</h2>
    <p>

	<div>
		{% if user.user %}
			Bienvenido, {{user.user}}
		{% endif %}
	</div>
    Este Sitito dedicado para el aprendizaje
	de Google App Engine y Python. Esperamos sea de su agrado, pero sobre todo
	de gran utilidad.
	<a href="http://www.google.com.mx">Google</a>

    </p>
{% endblock %}
