{% extends "_base.html" %}

{% set active_page = "topicos" %}

{% block title %}
   Topicos
{% endblock %}

{% block navigation %}
  {% if user.user %}
    {% set navigation_bar = [
      ('/', 'index', 'Index'),
      ('/sitios', 'sitios', 'Sitios'),
      ('/topicos', 'topicos', 'Topicos'),
      ('/logout', 'logout', 'Logout')
      ] -%}
    {% set active_page = active_page|default('index') -%}
    <ul id="navigation">
      {%for href, id, caption in navigation_bar%}
        <li{% if id == active_page %} class="active"{% endif %}>
        <a href="{{href|e}}">{{caption|e}}</a></li>
      {%endfor%}
    </ul>
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}
{% block bodycontent %}
      <h2>Topicos para el Desarrollo de Aplicaciones en la Nube</h2>
      <ul>
        <li>Python</li>
        <li>Google App Engine</li>
        <li>WebApp2</li>
        <li>Protocolo WSGI</li>
        <li>Mi primer aplicacion en Google App Engine</li>
        <li>Usando Jinja</li>
      </ul>
{% endblock %}
