<!-- codigo evento -->
        <form action="#" method="post" class="form" role="form">
        <input class="form-control" name="eventName" placeholder="Nombre del evento" type="text" />
        <br>
        <textarea name="message" id="message" class="form-control" rows="3" cols="25" required="required" placeholder="Descripcion"></textarea>
        <br>
        <br>

        <label for=""> Fecha Inicio</label>

        <div class="row">
            <div class="col-xs-4 col-md-4">
                <select class="form-control">
                    <option value="Day">Day</option>
                </select>
            </div>
            <div class="col-xs-4 col-md-4">
                <select class="form-control">
                    <option value="Month">Month</option>
                </select>
            </div>
            <div class="col-xs-4 col-md-4">
                <select class="form-control">
                    <option value="Year">Year</option>
                </select>
            </div>
        </div>
        <br>
        <label for=""> Fecha Fin</label>
        <div class="row">
            <div class="col-xs-4 col-md-4">
                <select class="form-control">
                    <option value="Day">Day</option>
                </select>
            </div>
            <div class="col-xs-4 col-md-4">
                <select class="form-control">
                    <option value="Month">Month</option>
                </select>
            </div>
            <div class="col-xs-4 col-md-4">
                <select class="form-control">
                    <option value="Year">Year</option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <input class="form-control" name="eventName" placeholder="Lugar" type="text" />
            </div>
        </div>
        <br><br>
        <button class="btn btn-lg btn-primary" type="submit">
            Crear evento</button>
        </form>
