{% extends "_base.html" %}

{% set active_page = "t" %}

{% block title %}
   Topicos
{% endblock %}

{% set navigation_bar = [
  ('/login', 'sitios', 'Inicia Sesión'),
  ] -%}

{% block opciones %}
    {%for href, id, caption in navigation_bar%}
      <li{% if id == active_page %} class="active"{% endif %}>
      <a href="{{href|e}}">{{caption|e}}</a></li>
    {%endfor%}
{% endblock %}



{% block bodycontent %}
<br>
<br>
<br>
<br>
<br>
<div id="lateral">
     <img src="img/portada.jpg" alt="wklnw" class="margin-Left">
  </div>
  <div id="otrolado">
    
    <div class="row">
      <div class="col-md-12 text-center">Formulario de Inicio de Sesión xsajbkjasbfa</div>

    </div>


  </div>
  <div id="principal">
    <p class="separacion-30">

    </p>

     <p class="text-blu">
       Si  tienes  alguna pregunta acerca de los servicios que ofrecemos, no dude en preguntarnos.
     </p>
    <p class="separacion-100">
    </p>
    <p class="separacion-30">
    </p>
     <p class="text-blu">
       Recibirá la asesoría que usted espera
   de nosotros, unida a las excelentes
   ideas que les sugerirá nuestro equipo
   creativo
     </p>

  </div>
{% endblock %}
