{% extends "_basepanel.html" %}
{% block linkcss %}
<link rel="stylesheet" href="../css/eventos.css">
<link rel="stylesheet" href="../css/entradausuario.css" media="screen" title="no title" charset="utf-8">
{% endblock %}

  {% block opciones %}

      <ul class="nav navbar-nav navbar-right">
        <li class="active dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuario<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/perfil">Perfil</a></li>
            <li><a href="/entradausuario">Eventos</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout">Salir</a></li>
          </ul>
        </li>
      </ul>

{% endblock %}

  {% block titlepanel %}<h1>Eventos Proximos</h1>{% endblock %}

  {% block bodypanel %}
  <div class="row col-md-7">
    <br><br>
    <ul class="event-list">


  {% for evento in eventos %}

      <li>
        <time datetime="2014-07-20 0000">
          <span class="day">{{evento.datetime|day}}</span>
          <span class="month">{{evento.datetime|month}}</span>
          <span class="year">{{evento.datetime|year}}</span>
          <span class="time">12:00 AM</span>
        </time>
        <div class="info">
          <h2 class="title">{{ evento.nomevento }}</h2>
          <p class="desc">{{evento.lugar}}</p>
          <p>{{evento.descripcion}} </p>
          <p>
            {{evento.datetime|hour}}&nbsp; hrs.
          </p>
        </div>
      </li>

      {% endfor %}


    </ul>
    </div>

   {% endblock %}


   {% block cuerpopagina %}

   {% endblock %}


  {%block pie%}

  {% endblock%}
