
 <head>
    <!-- All the files that are required -->
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script> -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/templatemo-style.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' >
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/ekko-lightbox.min.css">
 </head>

 <body>

    <h2 class="text-center">• Enterprise Professional Services •</h2>
    <br>
    <br>
   <form method="post" action="/login">

     <div class="row">
       <div class="col-md-1"></div>
       <div class="form-group  col-md-10">
         <input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="Usuario">
       </div>
       <div class="col-md-1"></div>
     </div>
     <div class="row">
       <div class="col-md-1"></div>
       <div class="form-group  col-md-10">
         <input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="Contraseña">
       </div>
       <div class="col-md-1"></div>
     </div>
     <br>
     <br>

     <div class="row">
       <div class="col-md-4"></div>
       <div class="col-md-4"></div>
       <div class="col-md-4">
          <button type="submit" class="btn btn-default btn btn-primary">Iniciar Sesión</button>
       </div>

     </div>

     	<p>{{ error }}</p>


   </form>
