{% extends "_basepanel.html" %}

  {% block linkcss %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="../css/eventos.css">
   {% endblock %}

     {% block opciones %}
     <ul class="nav navbar-nav navbar-right">
       <li class="active dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuario<span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li><a href="/admin">Entrada</a></li>
           <li><a href="/admin/messageadmin">Mensajeria</a></li>
           <li role="separator" class="divider"></li>
           <li><a href="#">Salir</a></li>
         </ul>
       </li>
     </ul>

     {% endblock %}
<!-- end navigation -->

{% block titlepanel %}<h1>Mensajería</h1>{% endblock %}

 {% block bodypanel %}



          <div class="row">
            <div class="form-group  col-md-12">

         <table id="table" class="table table-striped table-bordered" cellspacing="0"  width="100%" >
                <thead>
                  <tr>
                    <th></th>
                    <th class="span2">Nombre</th>
                    <th class="span9">Mensaje</th>
                    <th class="span2">Fecha</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="checkbox"> <a href="#"><i class="icon-star-empty"></i></a></td>
                    <td><strong>John Doe</strong></td>
                    <td><strong>Message body goes here</strong></td>
                    <td><strong>Sept6</strong></td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"> <a href="#"><i class="icon-star-empty"></i></a></td>
                    <td>John Doe</td>
                    <td>Message body goes here</td>
                    <td>Sept4</td>
                  </tr>
                </tbody>
          </table>
        </div>


      </div>
{% endblock %}


{% block pie %}
<script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
 <script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>

<script>

$('#table').DataTable( {
          "language": {
             "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
         },
        // paginate: true,
        scrollY:   '30vh',
        scrollCollapse: true,
        ordering: true,
        searching:true,
  } );
</script>

{% endblock %}
