{% extends "_basepanel.html" %}

  {% block opciones %}

  {% set navigation_bar = [
         ('/messageadmin', 'messageadmin', 'Mensajeria'),
          ('/usuario', 'usuario', 'Usuario')
   ] -%}

       {% for href, id, caption in navigation_bar %}
         <li{% if id == active_page %} class="active"{% endif %}>
         <a href="{{href|e}}">{{caption|e}}</a></li>
       {% endfor %}

     {% endblock %}

{% block titlepanel %}
  <label>Bienvenida</label>
{% endblock %}

 {% block bodypanel %}
     <div class="row">
       <div class="col-md-1"></div>
       <div class="form-group  col-md-6">
         <br>
         <h2 style="color: 055961"><strong>Eventos Proximos</strong></h2>
       </div>
     </div>

     <div class="row">
       <div class="col-md-1"></div>
       <div class="form-group  col-md-5">
         <ul>
           <a href="#"> <li>Evento Aniversario ITC</li></a>
           <a href="#"><li>Evento Feria de todos los santos</li></a>

         </ul>
       </div>

       <div class="col-md-1"></div>
       <div class="form-group  col-md-5" id='diveventos'>
         <br>
          <button class="btn btn-2 btn-2a" style="background-color: 06717B; color:white">Agregar Evento</button> <br> <br>
          <button class="btn btn-2 btn-2a" style="background-color: 06717B; color:white">Editar o Eliminar Evento</button>
       </div>
 </div>
  {% endblock %}
