{% extends "_basepanel.html" %}
{% block linkcss %}
  <link rel="stylesheet" href="../css/paneldesple.css">
  <link rel="stylesheet" href="../css/tasks.css">
  <link rel="stylesheet" href="../css/agregartarea.css">
  <link rel="stylesheet" href="../css/eventos.css">
  <link rel="stylesheet" href="../css/gmailscrollbar.css">

{% endblock %}
  {% block opciones %}

  {% set navigation_bar = [
         ('/admin/messageadmin', 'messageadmin', 'Mensajeria'),
          ('/usuario', 'usuario', 'Usuario')
   ] -%}

       {% for href, id, caption in navigation_bar %}
         <li{% if id == active_page %} class="active"{% endif %}>
         <a href="{{href|e}}">{{caption|e}}</a></li>
       {% endfor %}

{% endblock %}

{% block titlepanel %}
    <ul class="nav navbar-nav">
        <li class="dropdown">
          <h2 class="dropdown-toggle" data-toggle="dropdown"><a href="#" style="color:107298;text-decoration: none;">Bienvenido<span class="caret"></span></a></h2>
          <ul class="dropdown-menu">
            <li><a href="#" id="addClass">Tareas </a></li>
            <li class="divider"></li>
            <li><a href="#">Calendario</a></li>
            </ul>
        </li>
      </ul>

{% endblock %}

  {% block bodypanel %}
  <div class="row col-md-7">
    <br><br>
    <ul class="event-list">
  {% for evento in eventos %}

      <li>
        <time datetime="2014-07-20 0000">
          <span class="day">{{evento.start['dateTime']|day}}</span>
          <span class="month">{{evento.start['dateTime']|month}}</span>
          <span class="year">{{evento.start['dateTime']|year}}</span>
          <span class="time">12:00 AM</span>
        </time>
        <div class="info">
          <h2 class="title">{{ evento.summary }}</h2>
          <p class="desc">{{evento.location}}</p>
          <p>{{evento.description}} </p>
          <p>
            {{evento.start['dateTime']|hour}}
          </p>
        </div>
        <div class="social">
          <ul>
            <li class="facebook" style="width:33%;"><a href="#facebook"><input type="checkbox" name="calendar_id" value="{{evento.id}}" class=""></a></li>
            <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
            <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
          </ul>
        </div>
      </li>

      {% endfor %}



    </ul>
    </div>
    <br><br>
    <div class="col-md-2"> </div>
    <div class="row col-md-3" id="agregarevento">
      <br>
      <div class="col-md-2"> </div>
      <button type="button" class="btn btn-primary" style="background-color:489DD2; color:1C4646;"><strong>Agregar Evento</strong></button>
    </div>

   {% endblock %}

   {% block cuerpopagina %}

    <!-- codigo tareas -->
    <div class="popup-box chat-popup" id="qnimate">
    		  <div class="popup-head">
				        <div class="popup-head-left pull-left"><span>Tareas</span></div>
    					  <div class="popup-head-right pull-right">
    						<button data-widget="remove" id="removeClass" class="btn btn-default dropdown-toggle btn-circle btn-lg" type="button"><i class="fa fa-power-off fa-2x"></i></button>
                </div>
			  </div>
        <div id="tareas" >
        </div>


	  </div>
   {% endblock %}


  {% block pie %}
  <script type="text/javascript">
  $(function(){
  $("#addClass").click(function () {
          $('#qnimate').addClass('popup-box-on');
          $('#tareas').load('/tareas');
            $('#social').hide();
            });

            $("#removeClass").click(function () {
          $('#qnimate').removeClass('popup-box-on');
            $('#social').show();
            });
  })

  </script>

  {% endblock %}
