{% extends "_basepanel.html" %}

     {% block opciones %}

     {% set navigation_bar = [
             ('/usuario', 'usuario', 'Usuario')
      ] -%}

     {%for href, id, caption in navigation_bar%}
       <li{% if id == active_page %} class="active"{% endif %}>
       <a href="{{href|e}}">{{caption|e}}</a></li>
     {%endfor%}

     {% endblock %}
<!-- end navigation -->

{% block titlepanel %}<h1>Perfil</h1>{% endblock %}
 {% block bodypanel %}
 <br>
 <div class="login-form-1">
  <form id="perfilcomp-form" class="text-left" method="post" action="/perfilcomp">
     <div class="row">
       <div class="col-md-4"></div>
       <div class="form-group  col-md-6">
         <label for="Nombre">Nombre Completo</label>
         <input type="text" class="form-control" id="nombrecom" name="nombrecom" placeholder="Nombre Completo">
       </div>

       <div class="col-md-4"></div>
       <div class="form-group  col-md-6">
         <label for="correo">Correo</label>
         <input type="text" class="form-control" id="correo" name="correo" placeholder="Correo">
       </div>

       <div class="col-md-4"></div>
       <div class="form-group  col-md-4">
         <label for="usuario">Usuario</label>
         <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuario">
       </div>

       <div class="form-group  col-md-2">
         <label for="domicilio">Domicilio</label>
         <input type="submit" class="form-control" id="domicilio" name="domicilio" value="Domicilio">
       </div>
       <div class="domicilio" id="estrucdomi">
         <div class="col-md-4"></div>
         <div class="form-group  col-md-3">
           <label for="ciudad">Ciudad</label>
           <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ciudad">
         </div>

         <div class="form-group  col-md-3">
           <label for="pais">Pais</label>
           <input type="text" class="form-control" id="pais" name="pais" placeholder="Pais">
         </div>

         <div class="col-md-4"></div>
         <div class="form-group  col-md-4">
           <label for="colonia">Colonia</label>
           <input type="text" class="form-control" id="colonia" name="colonia" placeholder="Colonia">
         </div>

         <div class="form-group  col-md-2">
           <label for="codpos">Codigo Postal</label>
           <input type="text" class="form-control" id="codpos" name="codpos" placeholder="Codigo postal">
         </div>

         <div class="col-md-4"></div>
         <div class="form-group  col-md-3">
           <label for="calle">Calle</label>
           <input type="text" class="form-control" id="calle" name="calle" placeholder="Calle">
         </div>

         <div class="form-group  col-md-2">
           <label for="numext">Num Ext</label>
           <input type="text" class="form-control" id="numext" name="numext" placeholder="# Ext">
         </div>

         <div class="form-group  col-md-1">
           <label for="numint">Int</label>
           <input type="text" class="form-control" id="numext" name="numint" placeholder="# Int">
         </div>
       </div> <!--  cierra div estrucdomi -->


     </div> <!-- cierra row 1 -->
     <br>
     <div class="col-md-6"></div>
     <div class="form-group  col-md-2">
       <input type="submit" class="form-control" id="btnperfil" name="btnperfil" value="Actualizar">
     </div>
     <br>



  </form>
</div>

 {% endblock %}
