{% extends "_base.html" %}

{% set active_page = "sitios" %}

{% block title %}
    Sitios de Interes
{% endblock %}

{% block navigation %}
  {% if user.user %}
    {% set navigation_bar = [
      ('/', 'index', 'Index'),
      ('/sitios', 'sitios', 'Sitios'),
      ('/topicos', 'topicos', 'Topicos'),
      ('/logout', 'logout', 'Logout')
      ] -%}
    {% set active_page = active_page|default('index') -%}
    <ul id="navigation">
      {%for href, id, caption in navigation_bar%}
        <li{% if id == active_page %} class="active"{% endif %}>
        <a href="{{href|e}}">{{caption|e}}</a></li>
      {%endfor%}
    </ul>
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block bodycontent %}
      <h2>Sitios Interesantes sobre Google App Engine</h2>
      <p>
      Aqui encontras algunos sitios de utilidad para Google App Engine:
      </p>
      <ul>
        <li><a href="https://docs.python.org/2/tutorial/">
                                 Tutorial de Python</a></li>
        <li><a href="https://developers.google.com/appengine/docs/python/gettingstartedpython27/introduction">
                                 Iniciando con Python y Google App Engine</a></li>
        <li><a href="http://www.google.com/appengine/">
                                 Sitio de Google App Engine</a></li>
      </ul>
{% endblock %}
